.student-container {
  width: 70vw;
  height: 80vh;
  background-color: $color-grey-light-1;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-light;
  position: relative;

  overflow: hidden;

  &:hover {
    overflow: auto;
  }

  &__filter {
    width: 98%;
    display: block;
    margin: 0 auto;
    position: sticky;
    border-bottom: 0.3rem solid $color-grey-light-3;
    z-index: 5;

    &--name {
      top: 0;
    }

    &--tags {
      top: 6.4rem;
    }
  }

  & .student {
    padding: 2rem;
    border-bottom: 1px solid $color-grey-light-3;
    z-index: 4;
  }
}
